<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html"><img
                src="../../static/adminResources/images/WM 1 logo.png" style="display: block;height: 40%;width: 38%; "></a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img
                src="../../static/adminResources/images/WM 1 logo.png"
                style="display: block;margin-left: auto;margin-right: auto;top:50%" alt="logo"></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end justify-content-lg-start">

        <ul class="navbar-nav navbar-nav-right">
            <li>
               <p> Welcome &nbsp {{ session['session_loginUsername'] }} </p>
            </li>
            <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="../../static/adminResources/images/user1.png" alt="profile"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="/user/editProfile">
                        <i class="mdi mdi-logout text-primary"></i>
                       Edit Profile
                    </a>
                       <div class="dropdown-divider" aria-labelledby="profileDropdown"></div>
                            <a class="dropdown-item" href="/user/resetPassword">

                                <i class="mdi mdi-account-key text-primary"></i>
                      Reset Password
              </a>
                </div>
            </li>
        </ul>

        </ul>




    </div>
</nav>


<!--<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="../../static/adminResources/images/WM 1 logo.png"  style="display: block;height: 40%;width: 38%; "></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><iimg src="../../static/adminResources/images/WM 1 logo.png"  style="display: block;margin-left: auto;margin-right: auto;top:50%"  alt="logo"></iimg></a>
      </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end justify-content-lg-start">

        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">


      <li>





      </li>
            <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="profileDropdown" aria-expanded="false">

              <span class="nav-profile-name">Activity</span>
            </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown show" aria-labelledby="profileDropdown">
              <a class="dropdown-item">

                  <a href="/user/editProfile"> <i class="mdi mdi-settings text-primary"></i>Edit Profile
                                        </a>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                  <a href="/user/resetPassword">
                      <i class="mdi mdi-account-key text-primary"></i>
                      Reset Password</a>
              </a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item">

                  <a href="/admin/logoutSession"/><i class="mdi mdi-logout text-primary"></i>
                  Logout</a>
              </a>
            </div>





        </li>
        </ul>
            </div>
          </li>

    </div>
</nav>-->