
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/user/loadDashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">User Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-image" aria-expanded="false"
               aria-controls="ui-basic">
                <i class="mdi  mdi-file-image menu-icon"></i>
                <span class="menu-title"> UsersImage</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-image">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/uploadImage">Upload Image</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/viewImage">View Image</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-zone" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-message-outline menu-icon"></i>
                <span class="menu-title"> Complain</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-zone">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/loadComplain">Post Complain</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/viewComplain">View Complain</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-thumb-up-outline menu-icon"></i>
                <span class="menu-title"> Feedback</span>
                 <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/loadFeedback">Post Feedback</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/viewFeedback">View Feedback</a></li>
                </ul>
            </div>
        </li>



       <!-- <li class="nav-item">
            <a class="nav-link"  href="">
                <i class="mdi mdi-account-key menu-icon"></i>
                <span class="menu-title">Reset Password</span>

            </a>
        <li class="nav-item">
            <a class="nav-link" href="/user/editProfile">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Edit Profile</span>
            </a>
        <li class="nav-item">
            <a class="nav-link" href="/user/editProfile">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Reset Password</span>
            </a>-->





         <li class="nav-item">
            <a class="nav-link" href="/admin/logoutSession">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
