
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Waste Managment With  AI</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>

</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
               <div class="brand-logo">
                    <img src="../../static/adminResources/images/WM_1_resetonelogo-removebg-preview.png"  style="display: block;margin-left: auto;margin-right: auto;" >
               </div>
              <h4>Welcome </h4>
              <h6 class="font-weight-light"></h6>
               <form class="pt-3" action="/admin/validateLogin" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="email" name="loginUsername" class="form-control form-control-lg"
                                       placeholder="Username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" name="loginPassword" class="form-control form-control-lg"
                                       placeholder="Password">
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">

                    </label>
                  </div>


                  <a href="/user/forgetPassword" class="auth-link text-black">Forgot password?</a>

                </div>
                <div class="my-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="LOGIN">
                </div>
                    {% if error %}
                                <p align="left" style="color: red"><strong>{{ error }}</strong></p>
                            {% endif %}

                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="/user/loadRegister" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row" style="background-image: url('../../static/adminResources/images/test3-removebg-preview.png');background-size: cover">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end"></p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
 <!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/to-dolist.js"></script>
<!-- endinject -->
</body>

</html>