<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/loadDashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Admin Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-zone" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-image-area menu-icon"></i>
                <span class="menu-title">Manage Zone</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-zone">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadZone">Add Zone</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewZone">View Zone</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-image-area menu-icon"></i>
                <span class="menu-title">Manage Area</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadArea">Add Area</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewArea">View Area</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-camera-enhance menu-icon"></i>
                <span class="menu-title">Manage Camera</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadCamera">Add Camera</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewCamera">View Camera</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-dataset" aria-expanded="false"
               aria-controls="ui-basic">
                <i class="mdi mdi-image-area menu-icon"></i>
                <span class="menu-title">Manage Dataset</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-dataset">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadDataset">Add Dataset</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewDataset">View Dataset</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewUser">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/viewUserImage">
                <i class="mdi mdi-file-image menu-icon"></i>
                <span class="menu-title">Manage Users Image</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewNotification">
                <i class="mdi mdi-alarm-check menu-icon"></i>
                <span class="menu-title">Manage Notification</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewComplain">
                <i class="mdi mdi-message-outline menu-icon"></i>
                <span class="menu-title">Manage Complains</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="/admin/viewFeedback">
                <i class="mdi mdi-thumb-up-outline  menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logoutSession">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
